<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Adicionar Amigo</title>
</head>
<body>
<section layout:fragment="content">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Adicionar Amigo</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form action="#" th:action="@{/amigo/save}" th:object="${amigo}" method="post">

                <!-- id -->
                <input type="text" id="input-id" th:field="*{id}" hidden>

                <!-- Item -->
                <h6 class="heading-small text-muted mb-4">Informações do Amigo</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label class="form-control-label" for="input-nome">Nome</label>
                                <input type="text" id="input-nome" class="form-control form-control-alternative"
                                       placeholder="Nome" th:field="*{nome}">
                                <small class="small-error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome
                                    Error
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="input-sexo">Sexo</label>
                                <select id="input-sexo" class="form-control form-control-alternative" placeholder=""
                                        th:field="*{sexo}">
                                    <option value="M">Masculino</option>
                                    <option value="F">Feminino</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-parentesco">Parentesco</label>
                                <input type="text" id="input-parentesco" class="form-control form-control-alternative"
                                       placeholder="Parentesco" th:field="*{parentesco}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-telefone">Telefone</label>
                                <input type="text" id="input-telefone" class="form-control form-control-alternative"
                                       placeholder="Telefone" th:field="*{telefone}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-endereco">Endereço</label>
                                <input type="text" id="input-endereco" class="form-control form-control-alternative"
                                       placeholder="Endereço" th:field="*{endereco}">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4"/>
                <div class="row align-right">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>