<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Adicionar Saga</title>
</head>
<body>
<section layout:fragment="content">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Adicionar Saga</h3>
                </div>
                <!--<div class="col-4 text-right">
                    <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                </div>-->
            </div>
        </div>
        <div class="card-body">
            <form action="#" th:action="@{/saga/save}" th:object="${saga}" method="post">

                <!-- id -->
                <input type="text" id="input-id" th:field="*{id}" hidden>

                <h6 class="heading-small text-muted mb-4">Informações da Saga</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-titulo">Titulo</label>
                                <input type="text" id="input-titulo" class="form-control form-control-alternative"
                                       placeholder="Titulo" th:field="*{titulo}">
                                <small class="small-error" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">
                                    Titulo Error
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-item">Items</label>
                                <select id="input-item" class="form-control" th:field="*{items}" multiple>
                                    <option th:each="i : ${listItems}" th:value="${i.id}"
                                            th:text="${i.titulo}"></option>
                                </select>
                                <small class="small-error" th:if="${#fields.hasErrors('items')}" th:errors="*{items}">
                                    Item Error
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4"/>
                <div class="row align-right">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>