<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Sobre</title>
</head>
<body>
<section layout:fragment="content">
    <div class="card shadow">
        <div class="card-header border-0">
            <h2>Gerenciador de Coleções Pessoais</h2>

            <p>
                O projeto consiste em ser um gerenciador de coleções pessoais, onde ele conterá várias
                funções como: gerenciamento de empréstimos de itens, relações dos itens cadastrados, quais
                estão faltando para completar a coleção, sistema de ranking, itens repetidos e que podem ser
                vendidos, itens com defeito.
            </p>

            <hr/>

            <h2>Dependências</h2>

            <ul class="list-group">
                <li class="list-group-item">Java JDK 1.8 ou maior</li>
                <li class="list-group-item">Maven</li>
                <li class="list-group-item">Spring Boot</li>
                <li class="list-group-item">Hibernate</li>
                <li class="list-group-item">Java Lombok</li>
                <li class="list-group-item">JUnit</li>
                <li class="list-group-item">Mockito</li>
                <li class="list-group-item">MApache Tomcat</li>
                <li class="list-group-item">MySQL Server</li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>