<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Amigos</title>

</head>
<body>
<section layout:fragment="content">
    <div class="card shadow">
        <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0">Amigos</h3>
                </div>
                <div class="col text-right">
                    <!--<a href="#" class="btn btn-sm btn-primary">Pesquisar</a>-->
                    <a href="/amigo/create" class="btn btn-sm btn-secondary">Adicionar</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Parentesco</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Endereco</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="amigo : ${amigos}">
                    <th scope="row" th:text="${amigo.nome}"></th>
                    <td th:text="${amigo.parentesco}"></td>
                    <td th:text="${amigo.telefone}"></td>
                    <td th:text="${amigo.endereco}"></td>
                    <td>
                        <a th:href="@{'amigo/update/' + ${amigo.id}}" class="btn btn-sm btn-primary">Editar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

</body>
</html>